$fontDefault: 'Poppins', sans-serif;
$navHeight: 60px;
$logoWidth:100px;
$logoFontSize:4ch;
$logoColor:#ffffff;
$logoBackgroundColor:#000000;

$sliderHeight:200px;
$sliderBackgroundColor:#000000;
$sliderColor:#ffffff;