@import './mixing';
@import './variables';

body{
    height: 100vh;
    background-color: rgb(158, 158, 158);
    font-family:$fontDefault;
}
.header2{
    height: 100%;
    width: 100%;
    overflow: hidden;
    &::before{
        content: "";
        background-image: url("https://source.unsplash.com/1600x900/?office");
        opacity: 0.4;
        @include backImgCoverCenter;
        @include widthHeight;
        display: block;
        position: absolute;
    }

    nav {
        position: absolute;
        top: 0;
        height: $navHeight;
        width: 100%;
        z-index: 2;
        .navleft{
            float: left;
            height: 100%;
            width: $logoWidth;
            font-size: $logoFontSize;
            color: $logoColor;
            background-color: $logoBackgroundColor;
            @include gridCenter;
            &::after{
                content: 'intro';
            }
        }    
        .menu_container{
            float: right;
            background-color: #ffffff;
            width: 60px;
            height: 100%;
            padding: 1rem;
            cursor: pointer;
            .menu_button{
                @include widthHeight;
                @include backImgCoverCenter;
                background-image: url("../img/menu.svg");
            }
        }
        .item_container{
            height: 60px;
            width: 100%;
            z-index: -1;
            transform: translateY(-60px);
            position: absolute;
            transition: all 0.2s;
            &::before{
                content: "";
                background-color: rgb(0, 0, 0);
                opacity: 0.5;
                @include widthHeight;
                display: block;
                position: absolute;
            }
            .menu_content {
                width: 320px;
                height: inherit;
                position: absolute;
                left: 50%;
                transform: translate(-50%,-60px);
                z-index: 1;
                transition: all 0.2s;
                display: grid;
                grid-template-columns: 25% 25% 25% auto;
                .item{
                    @include gridCenter;
                    position: relative;
                    a{
                        font-size: 2ch;
                        color: #ffffff;
                        &:hover{
                            text-decoration: none;
                            color: #e7e7e7;
                        }
                    }
                }
            }
            .menu_click{
                transform: translateX(-50%);
            }
        }
        .item_click{
            transform: translateY(0px);
        }
    }
    .header2_slider{
        height: auto;
        top: 50%;
        transform: translateY(-50%);
        width: 80%;
        margin-left: auto;
            
        .slider_items{
            height: $sliderHeight;
            width: 100%;
            position: relative;
            align-self: center;
            background-color: $sliderBackgroundColor;
            &:hover{
                background-color: rgb(39, 39, 39);
            }
        }
        .arrow_container{
            position: absolute;
            width: 100%;
            height: 5rem;
            bottom: 0;
            padding: 0 1rem;
        }
        .slider_text{
            color: $sliderColor;
            font-size: 4ch;
            padding: 10px;
                a{
                    color: azure;
                    text-decoration: none;
                }
        }
        .arrow_right{
            cursor: pointer;
            height: 4rem;
            width: 3rem;
            float: left;
            @include backImgCoverCenter;
            background-image: url(../img/right-arrow.svg);
        }
    }
    .bottom_section{
        position: absolute;
        bottom: 25px;
        height: 60px;
        width: 80%;
        left: 20%;
        
        .bottom_left{
            float: left;
            height: 100%;
            width: 150px;
            background-color: rgb(255, 255, 255);
            display: grid;
            place-content: center;
        }
        .bottom_left_text{
            a{
                color: black;
                &:hover{
                    text-decoration: none;
                    color: #2c2c2cc2;
                }
            }
        }
        .bottom_right{
            float: right;
            display: grid;
            margin-right: 5rem;
            height: 100%;
            align-content: center;
            background-color: rgb(0, 0, 0);
            color: rgb(255, 255, 255);
            width: 360px;
        }
        .bottom_right_container{
            display: grid;
            text-align: center;
            grid-template-columns: 25% 25% 25% auto;
        }
        .bottom_right_text{
                a{
                    color: azure;
                    &:hover{
                        text-decoration: none;
                        color: #f0ffffc2;
                    }
                }
        }
    }
}
@media (max-width:992px) {
    .header2{
        .bottom_section{
            .bottom_right{
                margin-right: 0;
            }
        }
    }
}
@media(max-width:768px){
    .header2{
        .header2_slider{
            .slider_text{
                font-size: 3ch;
            }
        }
        .bottom_section{
            display: grid;
            grid-template-columns: 25% 75%;
            .bottom_left{
                width: 100%;
            }
            .bottom_right{
                width: 100%;
            }
        }
        .slider_text{
            font-size: 3ch;
        }
    }
}
@media(max-width:576px){
    .header2{
        nav{
            .item_container{
                height: 240px;
                width: 240px;
                z-index: -1;
                right: 0;
                display: none;
                transform: translateX(100%);
                position: absolute;
                transition: all 0.2s;

                .menu_content{
                    width: 80px;
                    transform: translate(-60px,0px);
                    grid-template-columns: 100%;
                    transition: all 0.2s;
                    grid-template-rows: 25% 25% 25% auto;
                }
            }
            .item_click{
                transform: translateX(0);
                display: block;
            }
            .menu_click{
                transform: translateX(0px);
            }
        }
        .bottom_section{
            width: 100%;
            left: 0;
            height: 120px;
            grid-template-columns: 100%;
            .bottom_left{
                width: 150px;
                margin: auto;
            }
        }
    }
}