body {
  height: 100vh;
  background-color: #9e9e9e;
  font-family: "Poppins", sans-serif;
}

.header10 {
  width: 100%;
  height: 100%;
  background-color: #dddddd;
  overflow-x: hidden;
}

.header10 nav {
  position: absolute;
  top: 0;
  height: 60px;
  width: 100%;
  z-index: 2;
  overflow-x: hidden;
}

.header10 nav .navleft {
  float: left;
  height: 100%;
  width: 100px;
  background-color: #ffffff;
  font-size: 4ch;
  color: #000000;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.header10 nav .navleft::after {
  content: 'intro';
}

.header10 nav .menu_content {
  width: 320px;
  background-color: #00000070;
  height: 60px;
  z-index: 3;
  position: relative;
  float: right;
  top: 0;
  right: 0;
  -webkit-transform: translate(320px, 0);
          transform: translate(320px, 0);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 25% 25% 25% auto;
      grid-template-columns: 25% 25% 25% auto;
}

.header10 nav .menu_content .item {
  display: -ms-grid;
  display: grid;
  font-size: 2ch;
}

.header10 nav .menu_content .item a {
  color: white;
}

.header10 nav .menu_content .item a:hover {
  text-decoration: none;
  color: #dfdfdf;
}

.header10 nav .menu_click {
  -webkit-transform: translate(-60px, 0);
          transform: translate(-60px, 0);
}

.header10 .menu_container {
  background-color: #ffffff;
  width: 60px;
  height: 60px;
  padding: 1rem;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
}

.header10 .menu_container .menu_button {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../img/menu.svg");
}

.header10 .slider_container {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.header10 .slider_container .slider_items {
  height: 100vh;
  width: 100%;
}

.header10 .slider_container .slider_items .slider_image {
  width: 100%;
  height: 100%;
  position: relative;
}

.header10 .slider_container .slider_items .image0::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-image: url(https://source.unsplash.com/600x900/?lake);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header10 .slider_container .slider_items .image1::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-image: url(https://source.unsplash.com/600x900/?building);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header10 .slider_container .slider_items .image2::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-image: url(https://source.unsplash.com/600x900/?sky);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header10 .slider_container .slider_items .image3::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-image: url(https://source.unsplash.com/600x900/?beach);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header10 .slider_container .slider_items .image4::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-image: url(https://source.unsplash.com/600x900/?art);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header10 .slider_container .slider_items .slider_text_content {
  position: absolute;
  bottom: 5%;
  width: inherit;
  padding: 0 25px;
}

.header10 .slider_container .slider_items .slider_text_content .slider_text {
  font-size: 3ch;
  color: #ffffff;
}

.header10 .slider_container .slider_items .slider_text_content .right_arrow {
  background-image: url("../img/right-arrow.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  float: left;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}

@media (max-width: 576px) {
  .header10 .slider_container .slider_items .slider_text_content {
    padding: 0 10px;
  }
  .header10 .slider_container .slider_items .slider_text_content .slider_text {
    font-size: 2.5ch;
  }
  .header10 nav {
    overflow-x: unset;
  }
  .header10 nav .menu_content {
    right: 0;
    width: 240px;
    height: 320px;
    top: 0;
    -webkit-transform: translate(240px, 0);
            transform: translate(240px, 0);
    -ms-grid-rows: 25% 25% 25% auto;
        grid-template-rows: 25% 25% 25% auto;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    display: none;
  }
  .header10 nav .menu_content .item {
    font-size: 2.5ch;
  }
  .header10 nav .menu_click {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
    display: -ms-grid;
    display: grid;
  }
}
/*# sourceMappingURL=header10.css.map */