$fontDefault: 'Poppins', sans-serif;
$navHeight: 60px;
$logoWidth:100px;
$logoColor:#ffffff;
$backgroundColor:#000000;
$logoBackgroundColor:#000000;

$sliderBackgroundColor:#000000;
$sliderColor:#ffffff;